/* Contenedor principal del carrusel */
.carrusel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 1rem;
    mask-image: linear-gradient(to right, black 98%, transparent 100%);
  }
  
  /* Contenedor de las imágenes */
  .carrusel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carrusel-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 0;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
  }

  
  /* Cada slide (imagen) */
  .slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  /* Slide activo */
  .slide.active {
    opacity: 1;
  }
  
  /* Botones de navegación */
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .nav-button.prev {
    left: 10px;
    background: transparent;
  }
  
  .nav-button.next {
    right: 10px;
    background: transparent;
  }

  .nav-button.prev:hover {
    left: 10px;
    filter: drop-shadow(0px 0px 8px rgba(132, 64, 243, 0.5));
  }


  .nav-button.next:hover {
    right: 10px;
    filter: drop-shadow(0px 0px 8px rgba(132, 64, 243, 0.5));
  }

  .carrusel-dots {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .dot {
    background: linear-gradient(30deg, #16203b3d, #7038b146);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    opacity: .5;
    transition: transform .2s ease-in-out;
    cursor: pointer;
  }

  .dot.active {
    opacity: 1;
    filter: drop-shadow(0px 0px 8px rgba(155, 92, 255, 0.87));
    transition: transform .2s ease-in-out;
    transform: translateY(-2px);
  }