.profile-side-verified {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
}

.profile-side-verified svg {
  width: 20px;
  height: auto;
}

.profile-side-verified p {
  font-weight: 500;
  font-size: 0.95rem;
}

.main-info-side-options {
  transition: 0.1s ease-in-out;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0.2rem;
}

.main-info-side-options:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  padding: 0.2rem;
  background: #1d1d1d;
}

.profile-side-verified p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-modal-info-profile {
  position: absolute;
  width: 100%;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.main-modal-info-profile.active {
  opacity: 1;
  transition: 0.1s ease-in-out;
}

.main-modal-info-profile-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  background: rgb(10, 10, 10);
  border: 0.5px solid rgba(87, 86, 86, 0.281);
  width: 100%;
  border-radius: 12px;
  pointer-events: all;
}

.main-m-options-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  width: calc(100% + 5px);
}

.main-m-options-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
    padding: 8px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    width: 100%;
    color: #f1f1f1;
    font-size: 0.9rem;
}

.main-m-options-list li:nth-child(1):hover {
    background: #161616;
    border-radius: 12px 12px 0 0;
}

.main-m-options-list li:nth-last-child(1):hover {
    background: #161616;
    border-radius: 0 0 12px 12px;
}

.main-m-options-list li svg {
    width: 20px;
    height: auto;
}

.option-list-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.option-list-info p:nth-child(2) {
    font-size: .7rem;
    color: #5c5b5b;
}
