.post-auth-no-authenticated { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post-auth-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(30deg, #16203b3d, #7038b146);
    border-radius: 12px;
    font-size: .95rem;
    padding: 1rem;
    gap: 1rem;
    text-align: left;
    transition: .2s ease-in-out;
}

.post-auth-main:hover {
    transition: .2s ease-in-out;
    background: linear-gradient(30deg, #2738683d, #803fca5b);
}

.post-auth-text a {
    text-decoration: none;
}

.post-auth-text a:hover {
    text-decoration: underline;
}

.post-auth-main svg {
    width: 40px;
    height: auto;
}


