.edit-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: .2s ease-in-out;
}

.edit-profile-content {
    background: #0f0f0f;
    border: 1px solid rgba(107, 106, 106, 0.397);
    padding: 1rem;
    width: 400px;
    height: 200px;
    border-radius: 12px;
}

.edit-profile.active {
  opacity: 1;
  pointer-events: all;
  transition: .2s ease-in-out;
}

.edit-profile-content button {
    background: transparent;
    color: white;
    font-family: 'Onest', sans-serif;
    background: linear-gradient(30deg, #16203b3d, #7038b146);
    padding: .5rem .7rem;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
}


/* content staff */

.edit-profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #727272;
}

/* content staff */
