@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Onest', system-ui, sans-serif;
  background: black;
  color-scheme: dark;
}

body::-webkit-scrollbar {
  display: none;
}

.loading-spin {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #bb86fc;
  border-top: 1px dashed transparent;
  border-right: 1px solid #0b0511;
  animation: spin .6s linear infinite;
  margin: 1rem;
}