@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Onest', system-ui, sans-serif;
  background: black;
  color-scheme: dark light;
}

body::-webkit-scrollbar {
  display: none;
}